.okk {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    overflow-x: scroll;
    scrollbar-width: hidden;
}

.hlo {
    height: 200px;
    width: 300px;
    border: 1px solid black;
}