.para1 {
    background-color: aqua;
    border: 2px dashed black;
    padding-left: 23px;
    padding-bottom: 34px;
    padding-top: 34px;


}

.para2 {
    text-align: right;
    background-color: yellow;
    padding-right: 24px;
    padding-top: 23px;
    padding-bottom: 23px;
    border: 5px dotted red;
}

.para3 {
    border: 2px solid black;
    background-color: blue;
}