#container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid red;
    height: 600px;
    width: 1350px;
    background-color: palevioletred;
}

.child {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    background-color: yellow;
}

#box1 {
    background-color: aqua;
}

#box2 {
    background-color: green;
}

h2 {
    text-align: center;
    margin-top: 40%;
}